<!doctype html>
<html class="no-js" lang="nl">
<head>
    <meta charset="utf-8">
    <title>{{ zf.fullTitle(title, currentPage) }}</title>
    <!--
     _________   ________   ________   _______-+-
    /\* ______\ /\* ____ \ /\* ____ \ /\* ____ \
    \ \ \_____/ \ \ \__/\ \\ \ \__/\ \\ \ \__/\ \
     \ \ \   ____\ \ \_\_\ \\ \ \_\_\ \\ \ \_\_\ \
      \ \ \ /\__ \\ \  __  _\\ \  __  _\\ \  __  _\
       \ \ \_/_/\ \\ \ \/\ \/_\ \ \/\ \/_\ \ \/\ \/_
        \ \________\\ \_\ \___\\ \_\ \___\\ \_\ \___\
         \/________/ \/_/\/___/ \/_/\/___/ \/_/\/___/.nl -->

    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description ?: app.config.app.description }}">

    {# TODO: zf.social().facebookOgData(ogData ?: []) | raw #}

    {% if app.environment != 'production' %}
    {# Robots must never crawl staging or development sites! #}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url ?: zf.fullUrl(zf.url()) }}">
    <link rel="shortcut icon" href="{{ zf.baseUrl('/favicon.ico') }}">

    {% if app.config.cdn.type != 'local' %}
    <link rel="dns-prefetch" href="{{ zf.assetUrl('') }} ">
    {% endif %}

    {#
      Preload web fonts
      Note: the crossorigin attribute is mandatory for fonts, even when loaded from the same domain.
      <link rel="preload" href="{{ zf.assetUrl('/css/fonts/[NAME].woff2') }}" as="font" type="font/woff2" crossorigin>
    #}

    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="stylesheet" href="{{ zf.assetUrl(app.config.assets.css.build ~ '/base.css') }}">

    <script>
        BASE = "{{ zf.baseUrl('/') }}";
        CDN_URL = "{{ zf.assetUrl('') }}";
        CDN_IMAGE_ROOT = CDN_URL + "{{ app.config.cdn.path.upload.image }}";
        JS_ROOT = "{{ app.config.assets.js.build }}";
        CSS_ROOT = "{{ app.config.assets.css.build }}";

        {# Inline Modernizr since it's such a wee script #}
        {% set modernizrSource = zf.script().includeSource(app.applicationPath ~ '/../public' ~
                                                           app.config.assets.js.build ~
                                                           '/modernizr.js') %}
        {{ modernizrSource }}

        {# Load scripts async thru loadJS() #}
        {{ zf.script().includeSource(app.applicationPath ~ '/../public' ~ app.config.assets.js.root ~ '/loadJS.js') }}

        var cutsMustard = 'querySelector' in document && 'addEventListener' in window && 'requestAnimationFrame' in window;
        if (cutsMustard) {
            loadJS("{{ zf.assetUrl(app.config.assets.js.build ~ '/bundle.js') }}");
        } else {
            // If the browser does support JS, but does not cut the mustard, put back to .no-js class
            // This is a horrible solution, but Modernizr does not respect the `enableJSClass: false` option...
            var reJS = new RegExp('(^|\\s)js(\\s|$)');
            document.documentElement.className = document.documentElement.className.replace(reJS, '$1no-js$2');
        }

        // Polyfill <picture> when needed
        if (!Modernizr.picture) {
            document.createElement("picture");
            loadJS("{{ zf.assetUrl(app.config.assets.js.build ~ '/../../polyfills/picturefill.js') }}");
        }

        // Polyfill svg `use` with external source
        function svgSupportsExternalSource() {
            var newerIEUA = /\bTrident\/[567]\b|\bMSIE (?:9|10)\.0\b/, webkitUA = /\bAppleWebKit\/(\d+)\b/, olderEdgeUA = /\bEdge\/12\.(\d+)\b/;
            return newerIEUA.test(navigator.userAgent) || (navigator.userAgent.match(olderEdgeUA) || [])[1] < 10547 || (navigator.userAgent.match(webkitUA) || [])[1] < 537 ? false : true;
        }

        if (!svgSupportsExternalSource()) {
            loadJS("{{ zf.assetUrl(app.config.assets.js.build ~ '/../../polyfills/svg4everybody.js') }}", function() {
                svg4everybody();
            });
        }
    </script>
</head>
<body>
    {% if not modernizrSource %}
        {# Warn developer if Modernizr does not exist #}
        {% include('partials/modernizr-warning.twig') %}
    {% endif %}

    {% include('@g/partials/google-tag-manager.phtml') %}

    <div class="wrapper">
        {{ include('partials/navbar.twig') }}
        {{ include('partials/header.twig') }}
        {{ layoutBlock('content') }}
    </div>

    {{ include('partials/cookie-announcement.twig') }}

    {{ zf.script().render() }}

    {% if zf.social().needsFacebookInit() %}
        {{ zf.social().facebookInit() }}
    {% endif %}
</body>
</html>
