{# Don't forget: header('Content-type: text/xml; charset=UTF-8'); #}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
{% if not title or not description %}
<error>
    &lt;title&gt; and &lt;description&gt; are required parts of the RSS specification
</error>
{% else %}
    <title>{{ title }}</title>
	<description>{{ description }}</description>
	<link>{{ url('home') }}</link>
	<atom:link href="{{ zf.fullUrl(zf.url()) }}" rel="self" type="application/rss+xml" />
{{ layoutBlock('content') }}
{% endif %}
</channel>
</rss>
